.about-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 75%;
    height: 75%;
    margin: auto;
    border: 2px solid black;
    border-radius: 25px;
    background-color: whitesmoke;
}

h1 {
    text-align: center;
    text-decoration: underline;
    color: #20247b;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 30px;
    text-align: center;
    font-family: cursive;
}