<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Design</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Open Sans'>
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Antonio'>
</head>

<body>
    <div class="container">
        <div class="template">
            <header class="header">
                <li><span>Home</span></li>
                <li><span>About Us</span></li>
                <li><span>Locations</span></li>
                <li><span>News</span></li>
                <li><span>Contact Us</span></li>
            </header>
            <div class="description">
                <h1 id="maintitle1">wild nature<br>exploring</h1>
                <h1 id="maintitle2">wild nature<br>exploring</h1>
                <div class="imagecontainer">
                    <div class="imagecontainer1">
                        <img src="https://img.freepik.com/free-photo/young-woman-with-her-backpack-standing-top-mountain-looking-idyllic-view_23-2148139697.jpg?w=996&t=st=1680936524~exp=1680937124~hmac=538b12e771759bd71f166774b49dd544bd088bc03b75ad411dc61c6795a6e6cf"
                            alt="">
                    </div>
                </div>
            </div>
            <p>The passage experienced a surge in popularity during the 1960s when Letraset used it on their sheets
                a surge in popularity.Passage experienced a surge.
            </p>
            <button>Join Now</button>

        </div>
    </div>
</body>

</html>