.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    align-self: center;
    padding: 10px;
    width: 300px;
}

#email {
    padding: 5px;
    margin: 10px;
    width: 200px;
    border-radius: 5px;
}

#password {
    padding: 5px;
    margin: 10px;
    width: 200px;
    border-radius: 5px;
}

label {
    font-size: 15px;
    margin: 0 10px;
}

#button {
    padding: 5px;
    margin: 10px;
    text-transform: uppercase;
    font-weight: 400;
    border-radius: 5px;
}

span {
    margin: 0 50px;
    align-self: flex-end;
    border: 1px solid;
    background-color: lightgray;
}