span{
    border-radius: 50%;
    background-color: yellow;
    color: black;
}
input{
    margin-left: 20px;
}
body {
    padding: 5vh 35vw;
    border-style: solid;
    border-radius: 10px;
    margin: 5%;
}
div {
    font-size: large;
}
p {
    font-weight: bold;
    text-decoration: underline;
}
h1 {
    padding-left: 50px;
}
input[type="submit"] {
    background-color: green;
    box-sizing: border-box;
    padding: 2px 50px;
    color: white;
    border-radius: 4px;
    margin-left: 20px;
}