* {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 60px;
    background: skyblue;
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
}

.logo {
    padding: 5px;
    width: 100px;
    height: 50px;
}

.navbar {
    display: flex;
    padding: 20px 10px;
    justify-content: space-evenly;
    align-items: center;
}

.navbar li {
    list-style: none;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 600;
    display: none;
}

.icon {
    padding: 5px;
    font-size: 20px;
    margin-left: 20px;
    height: max-content;
}

.icon:hover + .navbar li {
    display: block;
}

.footer {
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    background: skyblue;
}

.outer-container {
    background: whitesmoke;
    width: 85%;
    /*height: auto;*/
    margin: 60px 120px 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.box1 {
    width: 1000px;
    height: 300px;
    border: solid 2px red;
    margin: 20px;
    line-height: 300px;
    text-align: center;
}

.box2,.box3,.box4 {
    width: 300px;
    height: 200px;
    border: 2px solid green;
    margin: 20px;
    line-height: 200px;
    text-align: center;
}

.box5,.box6 {
    width: 450px;
    height: 200px;
    border: 2px solid purple;
    margin: 20px;
    line-height: 200px;
    text-align: center;
}

@media (max-width: 480px) {
    .outer-container {
        width: 100%;
        margin: 0;
        height: auto;
    }

    .header {
        flex-direction: column;
        justify-content: center;
        height: fit-content;
    }

    .header .logo {
        width: 100px;
        height: 50px;
    }

    .navbar {
        flex-direction: column;
        width: 100%;
        background-color: skyblue;
        text-align: center;
        padding: 5px;
        margin-left: 0;
        display: none;
    }

    .navbar li {
        padding: 5px;
    }

    .box1,.box2,.box3,
    .box4,.box5,.box6 {
        width: 95%;
    }

    .header .icon {
        position: absolute;
        display: block;
        top: 10px;
        right: 20px;
        background-color: skyblue;
        border-style: none;
    }

   .icon:hover + .navbar {
        display: block;
    }
}